// Dark theme
$backgroundDark: #18191a;
$sidebarDark: #2a2c2f;
$textDark: #fff;

// Bright theme
$backgroundBright: #fff;
$sidebarBright: #f7f7ef;
$textBright: #111;

// Link
$brightLink: #333;
$brightLink: #2a2c2f;
$darkLink: #f7f7ef;
// $darkLink: #ffffd7;
$accent: #b2b247;
$hss: #666633;

//Brand Colors
$twitter: #1da1f2;
$facebook: #3b5998;
$youtube: #ff0000;
$instagram: #e1306c;
