// Dark theme
$backgroundDark: #18191a;
$sidebarDark: #2a2c2f;
$textDark: #fff;

// Bright theme
$backgroundBright: #fff;
$sidebarBright: #f7f7ef;
$textBright: #111;

// Link
$brightLink: #333;
$brightLink: #666633;
$darkLink: #b2b247;
